<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title> <%= pageTitle %> | Shop</title>
    <meta name="description" content="ECommerce Dashboard 2" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="/css/pages/wizard/wizard-47b4a.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/global/plugins.bundle7b4a.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/custom/prismjs/prismjs.bundle7b4a.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.bundle7b4a.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/media/logos/logo-12.png" />
</head>