<%- include('includes/head.ejs') %>

<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">
    <div class="d-flex flex-column flex-root">
        <div class="error error-3 d-flex flex-row-fluid bgi-size-cover bgi-position-center"
            style="background-image: url(/media/error/bg5.jpg);">
            <!--begin::Content-->
            <div class="px-10 px-md-30 py-10 py-md-0 d-flex flex-column justify-content-md-center">
                <h1 class="font-weight-boldest text-dark-75 mt-15" style="font-size: 10rem">500</h1>
                <p class="display-4 font-weight-boldest text-danger mb-12">Sorry, It's not you. It's us.</p>
                <p class="font-size-h1 font-weight-boldest text-dark-75">Sorry we can't seem to find the page you're
                    looking for.</p>
                <p class="font-size-h4 line-height-md">We're experencing an internal server problem. Please try again
                    later.</p>
            </div>
        </div>
    </div>
</body>

</html>